In [57]:
from setup import *
import json

df = pd.read_json('cards.json')
df['type'].replace('NaN','NA',inplace=True)
df.replace('nan','NA',inplace=True)
df.drop(['artist','howToEarn','targetingArrowText','collectible'], axis=1,inplace=True)
df_dict = dict([(str(x),df.loc[df['type']==str(x)]) for x in df['type'].unique()])

In [59]:
display(df.columns)
display(df['type'].value_counts())

Index(['attack', 'classes', 'collectionText', 'cost', 'dbfId', 'durability',
       'dust', 'entourage', 'faction', 'flavor', 'health', 'howToEarnGolden',
       'id', 'mechanics', 'multiClassGroup', 'name', 'overload',
       'playRequirements', 'playerClass', 'race', 'rarity', 'set',
       'spellDamage', 'text', 'type'],
      dtype='object')

             type
MINION       1193
SPELL         691
ENCHANTMENT   477
HERO_POWER    217
HERO          175
WEAPON         65

[6 rows x 1 columns]

In [66]:
del df_dict[sorted(df_dict.keys())[-1]]

ENCHANTMENT
HERO
HERO_POWER
MINION
SPELL

In [68]:
for x in sorted(df_dict.keys()):
    print(x)
    df_dict[x].to_csv(x+'_cards.csv')

ENCHANTMENT
HERO
HERO_POWER
MINION
SPELL

In [76]:
df.loc[df['name'].str.lower().str.contains('tortollan')==True]

Empty DataFrame
Columns: [attack, classes, collectionText, cost, dbfId, durability, dust, entourage, faction, flavor, health, howToEarnGolden, id, mechanics, multiClassGroup, name, overload, playRequirements, playerClass, race, rarity, set, spellDamage, text, type]
Index: []

[0 rows x 25 columns]